
#basket {
}

.chosen_products {
    width: 70%;
}

#product_card {
    display: flex;
    width: 100%;
    justify-content: center;
}

#description {
    display: flex;
    align-self: center;
    justify-content: space-evenly;
    text-decoration: none;
    color: black;
}

#ordering {
    display: flex;
    width: 50%;
    flex-direction: column;
}