.chosen_products {
    width: 100%;
}

#product_card {
    display: flex;
    justify-content: center;
}

#description {
    margin-left: 5%;
}

#description > p,
#description > div {
    margin-bottom: 5%;
}

#product_card a {
    display: block;
    width: 40%;
}

#product_image {
    width: 100%;
}

#product_card span {
    font-size: 0.75rem;
}

#quantity {
    width: 100%;
}

#quantity, #quantity div {
    display: flex;
    align-items: flex-start;
}

#quantity div {
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

#quantity p, #product_name {
    margin: 0;
}

#product_card input {
    width: 0.75rem;
    height: 0.75rem;
}

#ordering {
    bottom: 5%;
}

#products_content > p {
    align-self: center;
}


@media screen and (max-width: 768px) {
    #product_card p,span{
        font-size: 0.5rem;
    }

    #product_image {
        width: 5rem;
    }

    #quantity {
        flex-direction: column;
    }

    #description {
        margin-left: 5%;
    }
}