#product_card {
    width: 100%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

#description div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product_image {
    width: 90%;
}

#price {
    font-size: 1rem;
}

#product_name {
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5rem;
}

#kbju {
    font-size: 0.75rem;
}

#description img {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 1080px){
    #product_card {
        flex-direction: column;
        align-self: baseline;
    }

    #description {
        width: 40%;
        justify-content: flex-start;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (max-device-width: 1080px){
    #product_card {
        flex-direction: column;
        align-self: center;
    }

    #description img {
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
    }

    #description {
        justify-content: flex-start;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
