#products_content > p {
    align-self: center;
}

#product_line {
    display: flex;
    width: 100%;
    height: fit-content;
    flex-flow: row wrap;
    justify-content: flex-start;
    font-family: "Noto Sans";
}
#product_line_name {
    font-size: 1rem;
}

#product_name {
    font-family: "Yanone Kaffeesatz";
    font-size: 1rem;
}

#product_card {
    width: fit-content;
    text-decoration: none;
    color: black;
    margin-left: 5%;
}

#product_card div {
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#product_image {
    width: 8.5rem;
    height: 6.5rem;
    max-height: 6.5rem;
}

@media screen and (max-width: 560px) and (orientation: portrait){
    #product_image {
        height: initial;
    }
}

@media screen and (max-width: 560px) and (orientation: portrait){
    #product_card {
        margin: 0;
    }

    #product_line {
        flex-flow: column nowrap;
        align-items: center;
    }
}