#product_card {
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: space-evenly;
}

#price {
    font-size: 1rem;
}

#product_card > img {
    width: 90%;
}

#product_name {
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5rem;
}

#description {
    width: 30%;
}

#kbju {
    font-size: 0.75rem;
}

#description img {
    width: 2rem;
    height: 2rem;
}

@media screen and (max-width: 1080px){
    #product_card {
        flex-direction: column;
        align-self: baseline;
    }

    #product_card #product_image {
        width: 100%;
    }

    #description {
        width: 100%;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }

    #product_card #description div {
        width: 60%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

@media screen and (max-device-width: 1080px){
    #product_card {
        flex-direction: column;
        align-self: center;
    }

    #description img {
        margin-left: 1rem;
        width: 3rem;
        height: 3rem;
    }

    #product_card #product_image {
        width: fit-content;
    }

    #description {
        width: fit-content;
        margin-left: 5%;
        padding-left: 5%;
        padding-right: 5%;
    }
}
