html {
    height: initial;
}

#user_settings {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 16rem;
    border: 0.2rem solid #919191;
    border-radius: 1rem;
}

#additional_inf {
    color: white;
    width: 40%;
    height: 16rem;
    font-size: 0.8rem;
    border-left: 0.25rem solid #ff5858;
}

#description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#description img {
    padding-left: 0.5rem;
    width: 5rem;
    height: 5rem;
}

#user_settings p {
    padding: 0 0.5rem;
}

#description div {
    margin-left: 5%;
}

#profile_settings {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 0;
}

strong {
    font-size: 1rem;
}

#additional_inf > p {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 33%;
    margin: 0;
}

#discount {
    background-color: #315369;
}

#orders {
    background-color: #ACBDDB;
}

#empty_line {
    background-color: #268841;
}

@media screen and (max-width: 1080px) {
    #profile_settings {
        align-self: center;
        width: 80%;
        flex-direction: column;
        align-items: center;
        height: 100%;
        font-size: 0.6rem;
    }

    #user_settings {
        width: 80%;
        height: fit-content;
    }

    #additional_inf {
        width: 80%;
        margin-top: 5%;
        font-size: 0.5rem;
        height: 10rem;
    }

    strong {
        font-size: 0.75rem;
    }

}

@media screen and (max-width: 768px) and (orientation: portrait) {
    #description {
        padding-top: 5%;
        flex-direction: column;
    }
}
